<div  class="footer" th:fragment="foot">

	<div class="container">
		<div class="row">
			<section class="footer-about col-xl-4 col-lg-4 col-md-12 col-sm-12">
				<h5>Melia SPA</h5>
				<hr>
				<p>Topline Pools and Wellness is the leading choice in the design and build of bespoke swimming pools,
					spas, thermal rooms and wellness facilities, transforming visions into luxurious reality.</p>
			</section>
			<section class="footer-services col-xl-4 col-lg-4 col-md-12 col-sm-12">
				<h5>Services</h5>
				<hr>
				<a href="/services/construction">
					<p>Design & Construction</p>
				</a>
				<a href="/services/maintenance">
					<p>Service & Maintenance</p>
				</a>
				<a href="/services/equipment">
					<p>Pool Equipment</p>
				</a>
			</section>
			<section class="footer-company col-xl-4 col-lg-4 col-md-12 col-sm-12">
				<h5>Company</h5>
				<hr>
				<a href="/about">
					<p>About us</p>
				</a>
				<a href="/gallery">
					<p>Featured Projects</p>
				</a>
				<a href="/coverage">
					<p>Coverage</p>
				</a>
				<a href="/contact">
					<p>Contact</p>
				</a>
			</section>
		</div>
	</div>
</div>