<div  class="footer" th:fragment="foot">

	<div class="container">
		<div class="row">
			<section class="footer-about col-xl-4 col-lg-4 col-md-12 col-sm-12">
				<h5 th:text="#{melia.spa}">Melia SPA</h5>
				<hr>
				<p th:text="#{company.about.short}">Topline Pools and Wellness is the leading choice in the design and build of bespoke swimming pools,
					spas, thermal rooms and wellness facilities, transforming visions into luxurious reality.</p>
			</section>
			<section class="footer-services col-xl-4 col-lg-4 col-md-12 col-sm-12">
				<h5 th:text="#{services}">Services</h5>
				<hr>
				<a href="/services/construction">
					<p th:text="#{design.and.construction}">Design & Construction</p>
				</a>
				<a href="/services/maintenance">
					<p th:text="#{service.and.maintenance}">Service & Maintenance</p>
				</a>
				<a href="/services/equipment">
					<p th:text="#{pool.equipment}">Pool Equipment</p>
				</a>
			</section>
			<section class="footer-company col-xl-4 col-lg-4 col-md-12 col-sm-12">
				<h5 th:text="#{company}">Company</h5>
				<hr>
				<a href="/about">
					<p th:text="#{about.us}">About us</p>
				</a>
				<a href="/gallery">
					<p th:text="#{featured.projects}">Featured Projects</p>
				</a>
				<a href="/coverage">
					<p th:text="#{coverage}">Coverage</p>
				</a>
				<a href="/contact">
					<p th:text="#{contact}">Contact</p>
				</a>
			</section>
		</div>
	</div>
</div>